<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
<a th:href="@{/admin/create}" class="btn_createUser">
    <input type="button" name="id" value="Create New User" />
</a>
<br/>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Age</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <!-- Форма для отправки запроса на удаление пользователя -->
            <form th:action="@{/admin/delete}" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}" />
                <button type="submit">Delete</button>
            </form>
        </td>

        <td>
            <!-- Форма для отправки запроса на редактирование пользователя -->
            <form th:action="@{/admin/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}" />
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<br/>
<br/>
<a th:href="@{/logout}"><input type="button" value="Logout"></a>

</body>
</html>
