<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User</title>
</head>
<body>
    <h1>User, welcome spring boot security page!</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Age</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
        </tr>
        </tbody>
    </table>

    <br/>
    <a th:href="@{/logout}"><input type="button" value="Logout"></a>
</body>
</html>